{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "consistent",
  "trailingCommas": "none",
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "arrowFunctionParentheses": "always",
  "endOfLine": "crlf",
  "singleAttributePerLine": true
}
